body {
  background-color: rgb(12, 12, 12);
  color: white;
  text-align: center;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

.introScreen {
  width: 100vw;
  height: 100vh;
}

.introBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.introButton {
  display: block;
  width: 4rem;
  margin: 0 auto 2rem;
  border: 1px solid white;
  padding: 1.25rem 2rem;
  border-radius: 0.7rem;
  transition-duration: 0.5s;
}

.introButton:hover {
  background-color: white;
  color: black;
  transition-duration: 0.5s;
}

.introLogo {
  width: 20rem;
  height: auto;
  margin: 0 auto;
}

.introSubTitle {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 1.4rem;
}

.headerLogo {
  width: 5rem;
  height: auto;
  margin: 0 auto;
}